@import 'react-image-gallery/styles/scss/image-gallery.scss';

.project-detail {
  padding: 5rem 0 0;

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }

  &__footer {
    width: 100%;
  }
}

.image-gallery-thumbnail {
  &.active {
    border: 4px solid #C18F5A !important;
  }
}

.image-gallery-icon {
  outline: none !important;
}

.image-gallery-icon:hover {
  color: #C18F5A !important;
}