@import 'react-image-gallery/styles/scss/image-gallery.scss';

.project-detail {
  padding: 1rem 0 0;

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }

  &__footer {
    width: 100%;
  }
}
