$thumb-size: 16px;

@mixin track-styles {
    appearance: none;
    background: transparent;
    border: transparent;
}

@mixin thumb-styles {
    appearance: none;
    pointer-events: all;
    width: $thumb-size;
    height: calc(#{$thumb-size} * 4);
    border-radius: 0px;
    border: 0 none;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.range-slider {
    position: relative;
    display: flex;
    align-items: center;
    margin: 16px;
    height: calc(#{$thumb-size} + 4rem);
}

.input-wrapper {
    width: calc(100% + #{$thumb-size});
    margin: 0 calc(#{$thumb-size} / -2);
    position: absolute;
    height: $thumb-size;
}

.control-wrapper {
    width: 100%;
    position: absolute;
    height: $thumb-size;
}

.input {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    height: 100%;
    opacity: 0;
    z-index: 3;
    padding: 0;

    &::-ms-track {
        @include track-styles;
    }

    &::-moz-range-track {
        @include track-styles;
    }

    &:focus::-webkit-slider-runnable-track {
        @include track-styles;
    }

    &::-ms-thumb {
        @include thumb-styles;
    }

    &::-moz-range-thumb {
        @include thumb-styles;
    }

    &::-webkit-slider-thumb {
        @include thumb-styles;
    }
}

.rail {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 10px;
    border-radius: 3px;
    background: #C9C9C9;

    &__separator {
        width: 7px;
        height: 100%;
        background-color: white;
        z-index: 999;
    }
}

.inner-rail {
    position: absolute;
    height: 100%;
    transition: all 0.3s;
}

.control {
    position: absolute;
    top: 100%;
    width: calc(#{$thumb-size} * 1.5);
    height: calc(#{$thumb-size} * 1.5);
    background-image: url("../../assets/images/triangle.png");
    z-index: 1;
    // cursor: grab;
    transition: left 0.3s;
}