.comments {
  opacity: 0;
  width: 100%;
  padding: 0 2rem;
  margin: 0;

  &.toggle {
    opacity: 1;
  }

  &__star {
    color: #C18F5A;
  }

  &__rate {
    margin-top: 1rem;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    white-space: pre-wrap;
    max-height: 300px;
  }

  &__slide {
    padding: 1rem;
    position: relative;

    &__content {
      padding: 1rem;
      display: flex !important;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      box-shadow: 0 0 4px #aaaaaa;
      max-height: 300px;
      min-height: 300px;
      border-radius: 0.7rem;
    }

    &__icon {
      position: absolute;
      top: 10%;
      right: 5%;
      font-size: 2rem;
      color: #a3a3a3;
    }

    img {
      width: 100px;
    }
  }
}

.slick-next {
  right: 0 !important;
}

.slick-prev {
  left: 0 !important;
}

.slick-next:before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M6.4 18L5 16.6L9.575 12L5 7.4L6.4 6l6 6l-6 6Zm6.6 0l-1.4-1.4l4.575-4.6L11.6 7.4L13 6l6 6l-6 6Z"%2F%3E%3C%2Fsvg%3E') !important;
}

.slick-prev:before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="m11 18l-6-6l6-6l1.4 1.4L7.825 12l4.575 4.6L11 18Zm6.6 0l-6-6l6-6L19 7.4L14.425 12L19 16.6L17.6 18Z"%2F%3E%3C%2Fsvg%3E') !important;
  left: -10px !important;
}

.slick-prev,
.slick-next {
  text-align: center;
  padding: 8px !important;
  height: 50px !important;
  width: 50px !important;
  box-shadow: 0 0 10px #000000;
  z-index: 9;
  background-color: #C18F5A !important;
  top: 100% !important;
  border-radius: 50%;
}

// .testimonials-section {
//     background: #fff;
//     min-height: 60vh;
//     position: relative;
//     overflow: hidden;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-flex-flow: row nowrap;
//     -ms-flex-flow: row nowrap;
//     flex-flow: row nowrap;
//     -webkit-box-align: end;
//     -webkit-align-items: flex-end;
//     -ms-flex-align: end;
//     align-items: flex-end;
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
// }

// .slider__nav {
//     width: 12px;
//     height: 12px;
//     margin: 80px 12px;
//     border-radius: 50%;
//     z-index: 10;
//     outline: 6px solid #ccc;
//     outline-offset: -6px;
//     box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
//     cursor: pointer;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
// }

// .slider__nav:checked {
//     -webkit-animation: check 0.4s linear forwards;
//     animation: check 0.4s linear forwards;
// }

// .slider__nav:checked:nth-of-type(1)~.slider__inner {
//     left: 0%;
// }

// .slider__nav:checked:nth-of-type(2)~.slider__inner {
//     left: -100%;
// }

// .slider__nav:checked:nth-of-type(3)~.slider__inner {
//     left: -200%;
// }

// .slider__nav:checked:nth-of-type(4)~.slider__inner {
//     left: -300%;
// }

// .slider__nav:checked:nth-of-type(5)~.slider__inner {
//     left: -400%;
// }

// .slider__inner {
//     position: absolute;
//     top: 80px;
//     left: 0;
//     width: 500%;
//     height: auto;
//     -webkit-transition: left 0.4s;
//     transition: left 0.4s;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-flex-flow: row nowrap;
//     -ms-flex-flow: row nowrap;
//     flex-flow: row nowrap;
// }

// .slider__contents {
//     height: 100%;
//     text-align: center;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-flex: 1;
//     -webkit-flex: 1;
//     -ms-flex: 1;
//     flex: 1;
//     -webkit-flex-flow: column nowrap;
//     -ms-flex-flow: column nowrap;
//     flex-flow: column nowrap;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;
// }

// .slider__caption {
//     font-size: 14px;
//     color: #111;
//     opacity: .5;
//     font-family: 'Roboto';
//     font-weight: bold;
// }

// .slider__txt {
//     font-size: 22px;
//     font-weight: bold;
//     font-family: 'Roboto';
//     line-height: 1.7;
//     color: #111;
//     margin-top: -20px;
//     margin-bottom: 20px;
//     max-width: 750px;
// }

// .quote {
//     font-family: 'Arial';
//     font-weight: bold;
//     font-size: 100px;
//     color: #ec2027;
//     margin-bottom: 0;
// }

// @-webkit-keyframes check {
//     50% {
//         outline-color: #333;
//         box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
//     }

//     100% {
//         outline-color: #333;
//         box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
//     }
// }

// @keyframes check {
//     50% {
//         outline-color: #333;
//         box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
//     }

//     100% {
//         outline-color: #333;
//         box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
//     }
// }