@import '../../assets/scss/media.scss';

.services {
  height: 100%;
  position: relative;

  &__description {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 0 auto;
    max-width: 60%;

    &.visible {
      opacity: 1;
    }

    @include breakpoint(small) {
      padding: 5px 10px;
      max-width: 100%;
    }

    // text-align: center;
  }

  &__mock {
    min-height: 3rem;
  }

  &__explaination {
    background-color: rgba(255, 255, 255, 0.6);
    max-height: 95%;
    width: 30%;
    padding: 3rem;
    border-radius: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(small) {
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    }
  }

  &__tabs {
    padding: 1rem 0;
    max-width: 80%;
    margin: 0 auto;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

  &__tab-list {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 0.5rem;
    padding: 0;

    @include breakpoint(small) {
      flex-direction: column;
    }
  }

  &__tab-item {
    flex: 1;
    display: flex;
  }

  &__tab-link {
    color: inherit;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: all 0.3s;

    &:hover {
      color: inherit;
    }

    &.active {
      background-color: #FF7043;
      color: #ffffff;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 12.5px 0 12.5px;
        border-color: #FF7043 transparent transparent transparent;
      }
    }
  }

  &__panel {
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

  &__tab-content {
    background-color: #eaeaea;
    padding: 1rem 3rem;
    display: none;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    @include breakpoint(small) {
      padding: 5px 10px;
    }

    &.active {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      animation: fade-in 1s;
    }

    // &.interior {
  //   background-image: url('@/assets/images/services/interior.jpg');
  // }

  // &.exterior {
  //   background-image: url('@/assets/images/services/exterior.jpg');
  // }

  // &.landscape {
  //   background-image: url('@/assets/images/services/Landscape.JPG');
  // }

  // &.space {
  //   background-image: url('@/assets/images/services/Space Planning.jpeg');
  // }

  // &.commercial {
  //   background-image: url('@/assets/images/services/Commercial.jpg');
  // }

  // &.material {
  //   background-image: url('@/assets/images/services/service5.jpg');
  // }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}